/*Para a pagina de avaliação*/
.avaliacaoCard{
    background-color: #212121;
    color: #f2f2f2;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    line-height: 1.5;
    margin: 1em;
    padding: 1em;
  }
  
  .avaliacao-agradecimento{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .avaliacao-center{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #212121;
    color: #f2f2f2;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    line-height: 1.5;
    margin: 1em;
    padding: 1em;
  }

.tabela {
    border-collapse: separate;
    border-spacing: 1em;
    margin: 1em;
     
}

.tabela th {
    font-weight: bold;
    background-color: #212121;
    color: white;
    padding: 0.25em;
}

.tabela td {
    background-color: #eee;
    padding: 0.5em;
}

#botoes-tabela{
  margin: 0.5em;
}
#botoes-tabela a{
  margin: 0.5em;
}
#botoes-tabela span{
  font-weight:  bold; 
}

