* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #aaa;
  background-image: linear-gradient(135deg, transparent, transparent 14px, rgba(0,0,0,.1) 14px, rgba(0,0,0,.1) 15px, transparent 15px, transparent);
  background-size: 20px 20px;
  background-attachment: fixed;
}

h1{
  font-family: "Open Sans Condensed", "Arial", sans-serif; 
  font-size: 3em;
  text-shadow: 0.05em 0.05em #bbb;
  margin: 0.3em;
  color: #212121;
}


h2{
  font-family: "Open Sans Condensed", "Arial", sans-serif; 
  font-size: 2em;
  margin: 0.3em;
}

h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: 1em;
  margin: 0.2em;
}

h4{
  font-family: "Open Sans Condensed", "Arial", sans-serif; 
  font-size: 2em;
  background-color: #212121;
  color: #f2f2f2;;
  font-weight: bold;
  padding: 0.2em;
  margin-bottom: 0.3em;
}

/* Header/Blog Title */
.header {
  padding: 1em;
  text-align: center;
  background: white;
  
}

.header h1 {
  text-transform: uppercase;
  font-size: 3em;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #212121;
}

/* Style the topnav links */
.topnav a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Right column */
.rightcolumn {   
  float: right;
  width: 75%;
}

/* Left column */
.leftcolumn {
  float: right;
  width: 25%;
  background-color: #aaa;
  background-image: linear-gradient(135deg, transparent, transparent 14px, rgba(0,0,0,.1) 14px, rgba(0,0,0,.1) 15px, transparent 15px, transparent);
  background-size: 20px 20px;
  background-attachment: fixed;
  padding-right: 20px;
  text-align: left;
}

.leftcolumn h2{
  font-weight: bold;
  color: #212121;
  overflow: hidden;
  background-color: white; 
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-bottom: 0.1em;
}

.leftcolumn li{
  font-weight: bold;
  color: #212121;
  overflow: hidden;
  background-color: white; 
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 0.1em;
}
.leftcolumn a{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: #f2f2f2;
  overflow: hidden;
  background-color: #212121;
  display: block;
  text-align: center;
  padding: 1.2em 5em;
  text-decoration: none;
  margin-bottom: 0.1em;
  border-radius: 0.5em;
}

.leftcolumn a:focus,
.leftcolumn a:hover{
  background-color: #ddd;
  color: black;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #212121;
  margin-top: 20px;
  color: white;
}

.v1{
  font-family: sans-serif;
}

.buttonOnClick a{
  background-color: #ddd;
  color: black;
  font-weight: bold;
  border: .1em solid #212121; 
}

.bemVindo{
  padding: 0.2em;
  text-align: justify;
}

/* Left column */
.csvLinks{
  margin: 1em;
  width: 25%;
  background-color: #aaa;
  background-attachment: fixed;
  padding-right: 20px;
  text-align: center;
}

/*create flex containers center*/
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*add 1em left margin*/
.marginLeft1em{
  margin-left: 1em;
}

/*tooltips*/
.has-tooltip {
  /*position: relative;*/
  display: inline;
}
.tooltip-wrapper {
  position: absolute;
  visibility: hidden;
}

.has-tooltip:focus .tooltip-wrapper,
.has-tooltip:hover .tooltip-wrapper {
  visibility: visible;
  opacity: 0.9;
}

.tooltip {
  display: block;
  position: relative;
  top: -3em;
  right: -10%;
  /*margin-left: -76px;*/
  color: #FFFFFF;
  background: #000000;
  padding: 0.7em;
  text-align: justify;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.25em 0.35em white;
  font-family: Arial, Helvetica, sans-serif;
}

.tooltip:after {
  content: '';
  position: absolute;
  margin-left: 1em;
  width: 0;
  height: 0;
  top: 1.3em;
  right: 100%;
  width: 15em;
  border-bottom: 0.5em solid transparent;
  border-top: 0.5em solid transparent;
  border-right: 0.5em solid #000000;
}


